@{ 
    ViewBag.Title = "Thông tin ứng dụng";
} 
<p> 
    <b>Ứng dụng được xây dựng:</b>
    <ul>
        <li>
            Yêu cầu
            <ol>
                <li>Nền DotNet 4.6</li>
                <li>Cơ sở dữ liệu chính: Microsoft SQL Server</li>
                <li>Cơ sở dữ liệu phụ: SQLite</li>
                <li>Thư viện mở rộng: NPOI</li>
            </ol>
        </li>
        <li>
            Mục đích
            <ol>
                <li>Quản lý thông tin khám sức khẻo của bệnh nhân</li>
                <li>Phục vụ lưu trữ quản lý khám của bác sỹ</li>
            </ol>
        </li>
        <li>
            Phát triển bởi
            <ol>
                <li>hotoancntt15a@gmail.com</li>
                <li>Bắt đầu xây dựng tháng 05/2020</li>
            </ol>
        </li>
    </ul> 
</p>
