@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quản lý hồ sơ khám chữa bệnh</h1>
    <p class="lead">Theo dõi, lịch khám chữa bệnh</p>
    <p><a href="http://bvtplaocai.vn" class="btn btn-primary btn-lg">Tìm hiểu thêm &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lịch hẹn đơn vị</h2>
        <p>
            + Khám sức khẻo định kỳ cho các đơn vị <br />
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Ngày</td>
                        <td>Đơn vị</td>
                        <td>Đợt</td>
                        <td>Số người</td>
                        <td>Ghi chú</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>20/05/2020 08:00</td>
                        <td>Cty TNHH Mai Anh</td>
                        <td> - </td>
                        <td>8</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>20/05/2020 08:00</td>
                        <td>Cty TNHH Mai Anh</td>
                        <td> - </td>
                        <td>8</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>20/05/2020 08:00</td>
                        <td>Cty TNHH Mai Anh</td>
                        <td> - </td>
                        <td>8</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </p>
        <p><a class="btn btn-default" href="http://bvtplaocai.vn">Tìm hiểm thêm &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lịch hẹn bệnh nhân</h2>
        <p>
            + Khám sức khẻo theo yêu cầu <br />
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Ngày</td>
                        <td>Bệnh nhân</td>
                        <td>Điện thoại</td>
                        <td>Địa chỉ</td>
                        <td>Nội dung</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>20/05/2020 08:00</td>
                        <td>Nguyễn Văn A</td>
                        <td>098xxxx83</td>
                        <td>Bắc Lệnh - Lào Cai</td>
                        <td>Khám mắt</td>
                    </tr>
                    <tr>
                        <td>20/05/2020 08:00</td>
                        <td>Nguyễn Văn A</td>
                        <td>098xxxx83</td>
                        <td>Bắc Lệnh - Lào Cai</td>
                        <td>Khám mắt</td>
                    </tr>
                    <tr>
                        <td>20/05/2020 08:00</td>
                        <td>Nguyễn Văn A</td>
                        <td>098xxxx83</td>
                        <td>Bắc Lệnh - Lào Cai</td>
                        <td>Khám mắt</td>
                    </tr>
                </tbody>
            </table>
        </p>
        <p><a class="btn btn-default" href="http://bvtplaocai.vn">Tìm hiểm thêm &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Thông báo</h2>
        <p>
            - Thông báo <br />
            - Lịch trực <br /> 
            - Công việc
        </p>
        <p><a class="btn btn-default" href="http://bvtplaocai.vn">Tìm hiểm thêm &raquo;</a></p>
    </div>
</div>