@{
    ViewBag.Title = "Thêm mới hồ sơ sức khỏe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" name="frmAddHoSo">
    <div class="form-group">
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Họ tên: </div></div>
            <input type="text" maxlength="255" name="hoten" class="form-control" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Giới tính: </div></div>
            <select name="gioitinh" class="form-control-sm">
                <option value="Nam">Nam</option>
                <option value="Nam">Nữ</option>
            </select>
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">Ngày sinh: </div></div>
            <input type="text" maxlength="10" name="ngaysinh" class="form-control clsdate" placeholder="Ngày/tháng/năm" style="width: 100px;" />
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-append"><div class="input-group-text">CMND: </div></div>
            <input type="text" maxlength="20" name="cmndhochieu" class="form-control" />
            <div class="input-group-append"><div class="input-group-text">Cấp ngày: </div></div>
            <input type="text" maxlength="10" name="capngay" class="form-control clsdate" placeholder="Ngày/tháng/năm" style="width: 100px;" />
            <div class="input-group-append"><div class="input-group-text">Nơi cấp: </div></div>
            <input type="text" maxlength="255" name="noicap" class="form-control" />
        </div>
    </div> 
</form>

