
@{
    ViewBag.Title = "Files View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" id="frmfiles">
    
</form>
<div id="viewfile">

</div>
@section scripts {
<script>
    function viewfolders(url) { postform('#frmfiles', url, '#viewfile'); }
    $(document).ready(function () { viewfolders('@Url.Action("views")'); });
    </script>    
}


